/* CustomDropdown.css */

.custom-dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-label {
  cursor: pointer;
  border: none;
  padding: 5px 8px;
  color: #363a3f;
  font-size: 0.9rem;
  font-family: "Gordita-Medium";
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

.dropdown-label.open {
  background-color: #f0f0f0;
}

.dropdown-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.dropdown-box {
  border-radius: 0.9375rem;
  background: #fff;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: auto;
  z-index: 3;
}

.options {
  display: none;
}

.dropdown-option {
  padding: 0.8rem;
  margin: 1rem 1rem;
  color: #363a3f;
  font-size: 0.9rem;
  font-family: "Gordita-Regular";
  transition: font-weight 0.2s;
  text-align: left;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing text */
  text-overflow: ellipsis; /* Add an ellipsis (...) for overflow */
}

/* Apply the hover effect */
.dropdown-option:hover {
  background-color: #f3f3ff;
  font-family: "Gordita-Medium";
  width: 65%;
  height: 1.2rem;
  flex-shrink: 0;
  color: #6658d3;
  border-radius: 0.7rem;
}

.semester-label,
.subjects-label {
  margin-right: 12rem;
}

/* Show options when dropdown is open */
.custom-dropdown.open .dropdown-box {
  display: block;
}

@media only screen and (max-width: 768px) {
  /* body {
    width: 100%;
    height: 85vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  } */
  .custom-dropdown {
    display: block;
    margin: 0 auto; /* Center the dropdown horizontally */
  }
  .dropdown-label {
    color: #363a3f;
    font-size: 0.7rem;
    line-height: normal;
    letter-spacing: -0.00625rem;
    margin-right: 1.5rem;
    display: block;
  }

  .dropdown-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .dropdown-box {
    border-radius: 0.9375rem;
    width: 95vw;
    background: #fff;
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.2);
    position: fixed; /* Make it fixed for centering */
    top: 50%; /* Align to the vertical center of the screen */
    left: 50%; /* Align to the horizontal center of the screen */
    transform: translate(-50%, -50%); /* Center the box */
    z-index: 6; /* Ensure it's above other content */
    margin: 0;
  }

  .dropdown-option {
    padding: 0rem;
    margin: 1rem 2rem;
    color: #333;
    font-size: 1rem;
    font-family: "Gordita-Regular";
    transition: font-weight 0.2s;
    text-align: left; /* Make the text left-aligned for smaller screens */
    width: 70vw;
    height: auto;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis (...) for overflow */
  }

  @media only screen and (max-width: 360px) {
    /* Additional styles for screens up to 360px */

    .custom-dropdown {
      display: block;
      margin: 0 auto; /* Center the dropdown horizontally */
    }

    .dropdown-label {
      /* Make adjustments for the dropdown label */
      overflow: auto; /* Enable horizontal scrolling for the label */
      white-space: nowrap; /* Prevent text from wrapping */
      margin-right: 1rem; /* Adjust the right margin as needed */
    }
    .options {
      display: none;
    }

    .dropdown-option {
      padding: 0.8rem;
      margin: 1rem 1rem;
      color: #363a3f;
      font-size: 0.9rem;
      font-family: "Gordita-Regular";
      transition: font-weight 0.2s;
      text-align: left;
      width: auto;
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden; /* Hide any overflowing text */
      text-overflow: ellipsis; /* Add an ellipsis (...) for overflow */
    }
    .dropdown-box {
      border-radius: 0.9375rem;
      background: #fff;
      box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.2);
      position: fixed;
      width: 95vw;
      top: 50%; /* Align to the vertical center of the screen */
      left: 50%; /* Align to the horizontal center of the screen */
      transform: translate(-50%, -50%); /* Center the box */
      z-index: 6; /* Ensure it's above other content */
      margin: 0;
    }
  }
}

/* Additional Media Queries for Other Screen Sizes as Needed */
/* For example:
@media only screen and (min-width: 992px) {
  .title {
    font-size: 2rem;
  }
}
*/
