.main-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f4f7f8;
  margin-left: 29rem;
  width: 64rem;
  height: 4.5rem;
  border-radius: 0.875rem;
}

.main-tabs select {
  border: 1px solid #f4f7f8;
  margin: 10px;
  width: 12.5rem;
  background-color: #f4f7f8;
  font-family: "Inter-Medium";
  font-size: 0.875rem;
  border-radius: 0.25rem; /* added border radius */
}

.main-tabs select:focus {
  outline: none;
}

.main-tabs .subject-label {
  font-family: "Inter-Bold";
  margin-right: 10px;
  font-size: 0.875rem;
}

.main-tabs select:nth-child(3) {
  margin-right: 14rem;
}

select option {
  padding: 45px;
  font-size: 0.9rem;
  border-radius: 1.25rem;
  border: none; /* removed border */
}

.pdf-reader {
  width: 64rem;
  height: 69rem;
  border-radius: 0.875rem;
  background: #f4f7f8;
  flex-shrink: 0;
  border-radius: 0.875rem;
  margin-top: 80rem;
  position: absolute;
}
@media (max-width: 768px) {
  .main-tabs {
    flex-direction: column; /* Stack tabs vertically on smaller screens */
  }

  .main-tabs select {
    width: 100%; /* Make the select boxes full width on smaller screens */
  }
}
