.main-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f4f7f8;
  padding: 10px;
}

.main-tabs select {
  border: 1px solid #f4f7f8;
  margin: 10px;
  width: 200px;
  background-color: #f4f7f8;
}

.main-tabs select:focus {
  outline: none;
}
