@font-face {
  font-family: "Gordita-Medium";
  src: url("../public/fonts/Gordita-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Regular";
  src: url("../public/fonts/Gordita-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Light";
  src: url("../public/fonts/Gordita-Light.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Bold";
  src: url("../public/fonts/Gordita-Bold.ttf") format("truetype");
  font-style: normal;
}
body {
  width: 100vw;
  height: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

.react-pdf__Page {
  margin-top: 4rem;
  margin-left: 10rem;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
  margin-top: -1.7rem;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .react-pdf__Page {
    width: 100%;
    transform: scale(0.5); /* Adjust the scale factor for smaller screens */
    transform-origin: top left;
  }

  .all-page-container {
    max-height: none;
    transform: scale(0.1); /* Adjust the scale factor for smaller screens */
  }
  .react-pdf__Page__textContent {
    display: none;
  }
  @media (max-width: 360px) {
    .react-pdf__Page {
      width: 100%;
      transform: scale(0.5); /* Adjust the scale factor for smaller screens */
      transform-origin: top left;
      margin-left: 0rem;
    }

    .all-page-container {
      max-height: none;
      transform: scale(0.1); /* Adjust the scale factor for smaller screens */
    }
    .react-pdf__Page__textContent {
      display: none;
    }
  }
}
