.tabs-container {
  background-color: #007bff;
  display: flex;
  padding: 10px;
}

.tabbed-section {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;
}

.tab-titles {
  display: flex;
  position: relative;
}

.tab-title {
  cursor: pointer;
  text-align: center;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.tab-title.active {
  background-color: #fff;
  color: #007bff;
}

.tab-title:hover {
  background-color: #fff;
  color: #007bff;
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33.33%;
  height: 2px;
  background-color: #007bff;
  transition: left 0.3s;
}
