/* Tabs.css */
.container {
  position: absolute;
  width: 100%;
  height: 3.75rem;
  flex-shrink: 0;
  display: flex;
  margin-top: 18rem;
  margin-left: 0rem;
  justify-content: center;
}

.tabs {
  display: flex;
  position: absolute;
  height: 4rem;
  width: 45rem;
  border-radius: 1.875rem;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.tab.active {
  color: #fff; /* Text color for active tab */
}

.tabs * {
  z-index: 2;
}

input[type="radio"] {
  display: none;
}

/* For text inside the tabs */
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: n;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 1.6rem;
  font-family: "Gordita-Medium";
  transition: color 0.25s ease-in;
  padding: 1rem 2rem; /* Add padding to create distance between tabs */
  color: #000; /* Default text color */
}

/* Change text color when glider is on it */
input[type="radio"]:checked + label .tab {
  color: #fff;
}

input[type="radio"]:checked + label > .notification {
  background-color: #fff;
}

.glider {
  position: absolute;
  display: flex;
  width: 10rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: #6658d3;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  z-index: 1;
  transition: 0.25s ease-out;
}

/* Use transform to create distance between tabs */
input[id="radio-1"]:checked ~ .glider {
  transform: translateX(0%);
}

input[id="radio-2"]:checked ~ .glider {
  transform: translateX(90%);
}

input[id="radio-3"]:checked ~ .glider {
  transform: translateX(205%);
}

input[id="radio-4"]:checked ~ .glider {
  transform: translateX(335%);
}

input[id="radio-5"]:checked ~ .glider {
  transform: translateX(445%);
}
@media (max-width: 768px) {
  .container {
    .container {
      margin-top: 2rem;
    }
  }

  .tabs {
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0.4rem;
    margin-top: 0.2rem;
    font-family: "Gordita-Medium";
    transition: color 0.25s ease-in;
    margin: -1rem -2rem;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis;
    color: #000;
  }

  .tab {
    margin-left: 0.4rem;
    font-size: 0.6rem;
    padding: 0 0.8rem;
  }
  input[id="radio-1"]:checked ~ .glider {
    transform: translateX(30%);
  }

  input[id="radio-2"]:checked ~ .glider {
    transform: translateX(145%);
  }

  input[id="radio-3"]:checked ~ .glider {
    transform: translateX(260%);
  }

  input[id="radio-4"]:checked ~ .glider {
    transform: translateX(390%);
  }

  input[id="radio-5"]:checked ~ .glider {
    transform: translateX(435%);
  }
  .glider {
    position: absolute;
    display: flex;
    width: 4rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background: #6658d3;
    margin-top: 0rem;
    margin-left: -17.5rem;
    z-index: 1;
    transition: 0.25s ease-out;
  }
}
@media only screen and (max-width: 360px) {
  .container {
    margin-left: -3.5rem;
    margin-top: 10rem;
  }

  .tabs {
    width: 19rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.74rem;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 1.2rem;
    margin-top: 2rem;
    font-family: "Gordita-Medium";
    transition: color 0.25s ease-in;
    padding: 0;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflow */
    text-overflow: ellipsis;
    color: #000; /* Default text color */
  }

  .tab {
    margin-left: 0.1rem;
    font-size: 0.65rem;
    padding: 0 0.8rem;
  }
  input[id="radio-1"]:checked ~ .glider {
    transform: translateX(35%);
  }

  input[id="radio-2"]:checked ~ .glider {
    transform: translateX(130%);
  }

  input[id="radio-3"]:checked ~ .glider {
    transform: translateX(250%);
  }

  input[id="radio-4"]:checked ~ .glider {
    transform: translateX(375%);
  }
  .glider {
    position: absolute;
    display: flex;
    width: 4rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background: #6658d3;
    margin-top: 0rem;
    margin-left: -17rem;
    z-index: 1;
    transition: 0.25s ease-out;
  }
}
